#about{
    height:800px;
    scroll-behavior: smooth;
}

#ttl{
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
    font-size:50px;
    color:#FFFFFF;
    position:absolute;
    left:6vw;
    top:-2vh;
}

#my_pic{
    width:25vw;
    height:60vh;
    border-radius: 30px;
    border: 1px solid #000000;
    position:absolute;

}

.visual{
    position:absolute;
    left:10vw;
    top:20vh;
    height:60vh;
}

.visual:hover #charac{
    cursor:pointer;
    visibility: visible;
}


.visual:hover #my_pic{
    filter:blur(5px);
}

#charac{
    z-index:+2;
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    text-align: center;
    width:27vw;
    visibility: hidden;
    top:15%;
    left:5%;
    width:25vw;
}

.description{
    width:50vw;
    height:max-content;
    position:absolute;
    border:1px solid white;
    border-radius:10px;
    background-color:rgb(0, 0, 0);
    left:42.5vw;
    top:15vh;
    font-size:19px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding-right:20px;
}

.description:hover{
    box-shadow: 0 0 20px yellow;
}


#prompt{
    color:rgb(4, 131, 235);
    padding-left:20px;
}

#des_text, #courses, #courses_list, #gpa, #des_ttl, #com_proj, #exp_time{
    color:white;
    padding-left:30px;
}

#des_text{
    padding-left:50px;
}

#courses_list{
    list-style: none;
    padding-left:50px;
}


@media only screen and (max-width:769px){
    .description{
        font-size:14px;
        width:80vw;
        left:7vw
    }

    .visual{
        display:none;
    }
}



@media only screen and (min-width:770px) and (max-width:1260px){
    .description{
        font-size:15px;
    }

    #charac{
        line-height: 40px;
        font-size:20px;
        left:8%;
    }
}


@media only screen and (min-width:1261px) and (max-width:1500px){
    .description{
        font-size:17.5px;
    }

    #charac{
        line-height: 60px;
        font-size:30px;
        left:4%;
    }
}


@media only screen and (min-width:1501px){
    .description{
        font-size:17.5px;
    }

    #charac{
        line-height: 60px;
        font-size:30px;
        left:30%;
    }
}