.App {
    text-align: center;
    background-color:#1b1b1b;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    width:100%;
    height:200%;
    overflow-x:hidden;
    overflow-y:hidden;
    scroll-behavior:smooth;
  
  }
  
  .Navbar{
    position:fixed;
    z-index:1030;
  }
  .Home{
    color: aliceblue;
    position:relative;
    top:30px;
    font-family:'Courier New', Courier, monospace;
  }