.footer{
    height:37vh;
    position:relative;
    bottom:0;
    border:1px solid rgb(0, 0, 0);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;


    background-color:rgb(2, 9, 70);

}

#email{
    text-decoration: none;
    position:relative;
    font-size: 50px;
    color:white;
    border-radius:20px;
    margin-left:20px;
}

#footer_network li{
    text-decoration: none;
    display:inline;
}

#footer_network{
    border-radius:20px;
    width:25vw;
    left:34vw;
    position:absolute;
    position:relative;
    top:30px;
}

#credit{
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    top:40px;
}
