#experience{
    height:1050px;
    scroll-behavior: smooth;
}


.leader_slides{
    position:absolute;

}

#exp_img{
    width:25vw;
    height:225px;
    position:relative;
    border-radius:30px;
    top:-15%;
    margin-left:-50%;
    align-self: left;

}

.leadership_wrap:hover{
    box-shadow: 0 0 20px yellow;
}

#exp_des{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
}

.exp_description{
    display:inline;
    color:white;
}

.company_name{
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    font-size:50px;
    margin-top:0px;
    color:white;
}
.date{
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    color:white;
    position:relative;
    top:-40px;
}

#exp_ttl{
    margin-top:100px;
    margin-bottom:10px;
    position:absolute;
    left:37vw;
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    color:rgb(4, 131, 235);
}


.leadership_wrap{
    position:absolute;
    border:1px solid white;
    width:70vw;
    height:43vh;
    top:15vh;
    position:absolute;
    background-color:rgba(0, 0, 0, 0.555);

    margin-bottom:75px;
    border-radius:30px;

}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background:green;
}


@media only screen and (max-width:769px){

    #exp_des{
        font-size:12px;
        left:33vw;
        width:30vw;
        top:20%;
        position:absolute;

    }

    .company_name{
        font-size:27px;
    }

    .date{
        font-size:12px;
        top:-18px;
    }

    #exp_img{
        top:-5%;
    }

    #exp_ttl{
        left:23vw;
        font-size:25px;
    }


}



@media only screen and (min-width:770px) and (max-width:1260px){

    #exp_des{
        font-size:16px;
        left:33vw;
        width:30vw;
        top:15%;
        position:absolute;

    }

    .company_name{
        font-size:34px;
    }

    .date{
        font-size:17px;
    }

    #exp_ttl{
        left:25vw;
    }

}


@media only screen and (min-width:1261px) and (max-width:1500px){

    #exp_des{
        font-size:20px;
        left:33vw;
        width:30vw;
        top:20%;
    }



}


@media only screen and (min-width:1501px){

    #exp_des{
        font-size:20px;
        left:33vw;
        width:30vw;
        top:20%;
    }
}
