.navbar{
    position:fixed;
    color:white;
    border:1px solid white;
    width:500px;
    height:70px;
    border-radius:20px;
    left:50%;
    margin-left:-200px;
    top:88vh;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    background-color: rgba(79, 79, 79, 0.5);
}

#buffer{
    margin-top:10px;
    position:relative;
}

#linkedin{
    width:40px;
    border-radius: 5px;
    position:relative;
    left:-100px;
    top:-20px;
    
}

#github{
    width:40px;
    border-radius: 5px;
    position:relative;
    left: 5px;
    top:-20px;
    
}

#netul li{
    text-decoration: none;
    display:inline-block;

}

#netul{
    margin-top:-20px;
}

#logo{
    color:yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
    position:relative;
    left:25px;
    top:-22.5px;

}

.network{
    width:200px;
    height:50px;
    left:5vw;
    top:5vh;
    position:fixed;
    border: 1px solid white;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    background-color:rgba(79, 79, 79, 0.5);
    border-radius: 10px;
    animation: logoani 1s infinite;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    display:inline;
    z-index:1;
    

}


@keyframes logoani {
    0% {
        top: 7vh;
    }

    50%{
        top:8vh;
    }


    100%{
        top:7vh;
    }
}